# clang-tidy -Xclang -analyzer-config -Xclang aggressive-binary-operation-simplification=true,c++-shared_ptr-inlining=true,unroll-loops=true,widen-loops=true

Checks: '*,
  -android-*,
  -altera-*,
  -clang-analyzer-alpha.fuchsia.*,
  -clang-analyzer-alpha.llvm.*,
  -clang-analyzer-alpha.nondeterminism.PointerIteration,
  -clang-analyzer-alpha.webkit.*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-init-variables,
  -darwin-*,
  -fuchsia-*,
  -hicpp-avoid-c-arrays,
  -hicpp-braces-around-statements,
  -hicpp-vararg,
  -google-build-using-namespace,
  -google-global-names-in-headers,
  -google-readability-braces-around-statements,
  -google-readability-todo,
  -google-runtime-references,
  -llvm-*,
  -llvmlibc-*,
  -misc-non-private-member-variables-in-classes,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -objc-*,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -zircon-*,
  '

UseColor: true
