name: ESLint

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  ESLint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: '*'
      - uses: actions/setup-node@v3
        with:
          node-version: '*'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm run lint
